<section class="banner">
  <div class = "custom-container">
    <h1>Your business starts with your website</h1>
    <div class="head-list inline menu">
      <ul>
        <li>WEBSITES</li>
        <li>
          <i class="fa fa-circle flex-item" aria-hidden="true"></i></li>
        <li>MOBILE</li>
        <li class ="flexbox"><i class="fa fa-circle" aria-hidden="true"></i></li>
        <li>DESIGN</li>
        <li class ="flexbox"><i class="fa fa-circle" aria-hidden="true"></i></li>
        <li>SUPPORT</li>
      </ul>
    </div>
    <div id="cover"></div>
  </div>
</section>

<section class="services bg-grey padded">
  <div class="container">
    <h1 class = "padding-bottom-100 text-left">Our Services</h1>
    <div class="row row-height">
      <div class="col-md-4 col-sm-6 card-outer">
        <div class="card">
          <div class="flexbox-between">
            <h2>Design</h2>
            <div class="circle flexbox">
              <%= image_tag "photo-editor.svg" %>
            </div>
          </div>
          <p>We carefully design the user experience throughout the website/mobile app to make it simple and enjoyable for the user.</p>
          <p>Read more</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 card-outer">
        <div class="card">
          <div class="flexbox-between">
            <h2 class = "">Development</h2>
            <div class="circle flexbox">
              <%= image_tag "code.svg" %>
            </div>
          </div>
          <p class = "text-center">We develop completelly responsive websites and mobile apps from scratch, so that everything is tailored to your needs. </p>
          <p>Read more</p>
        </div>
      </div>
      <div class="col-md-4 card-outer">
        <div class="card">
          <div class="flexbox-between">
            <h2 class = "">Marketing</h2>
            <div class="circle flexbox">
              <%= image_tag "board-28.svg" %>
            </div>
          </div>
          <p class = "text-center">Different stages of a business require different technologies. We help you define your tailored development road map. </p>
          <p>Read more</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="idea">
  <!-- big devices -->
  <div class="idea-banner idea-banner-img-large padded flexbox hidden-xs hidden-sm">
    <div class="idea-container">
      <div class="row">
        <div class="col-md-4 col-md-offset-8 text-righ">
          <h1 class = "padded-bottom-2">From idea to product</h1>
          <p class = "padded-bottom-2">At AhoyCode we help you transform your ideas into beautiful and usable products. We provide web consulting services to help you devise the best product to suite your needs and provide guidance and support throughout the whole process.</p>
          <%= link_to t(".top_call_to_action", default: "Contact us"), "#", class: "cta-btn cta-black" %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- small devices -->
<div class="idea-banner padded flexbox hidden-md hidden-lg">
  <div class="idea-container">
    <div class="row idea-banner-img-small"></div>
    <div class="row">
      <div class="col-sm-12 text-left">
        <h1 class = "padded-bottom-2">From idea to product</h1>
        <p class = "">At AhoyCode we help you transform your ideas into beautiful and usable products. We provide web consulting services to help you devise the best product to suite your needs and provide guidance and support throughout the whole process.</p>
        <%= link_to t(".top_call_to_action", default: "Contact us"), "#", class: "cta-btn cta-black" %>
      </div>
    </div>
  </div>
</div>
</div>


<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>


</section>

<section class="team padded">
  <div class="container">
    <div class="row">
      <h1 class = "padded-bottom-5 text-center">Meet the team</h1>
      <div class="col-md-4 col-md-offset-1">
        <div class="">
          <%= image_tag "filipe.png" %>
          <h4>Filipe Paiva</h4>
        </div>
        <p> Filipe has experience in planning the tech development of companies and managing the outsource cycle of said plans. Filipe holds a Master's degree in Strategy and International Business as well as being a full stack developer. He will help you plan from idea to product. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-7">
        <div class="">
          <%= image_tag "matilde.jpg" %>
          <h4>Matilde Rosa</h4>
        </div>
        <p class = "">Matilde is a full stack developer specialised in the front-end side. She also has experience in software engineering and debugging and holds a Master's degree in Applied Mathematics.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <div class="">
          <%= image_tag "manel.png" %>
          <h4>Manuel Oliveira</h4>
        </div>
        <p class = "">Manuel is a full stack developer and a data scientist with vast experience in ruby and in python. He is specialised in the back-end side of web applications and holds a Master's degree in Finance.</p>
      </div>
    </div>
  </div>
</section>

<hr style = "margin: 0;">

<section class = "as-seen-in padded">
  <div class="container">
    <h1 class = "padded-bottom-5">AS SEEN IN</h1>
    <div class="flexbox-between">
      <%= image_tag "beta-i.png" %>
      <%= image_tag "lewagon.png" %>
      <%= image_tag "startup-weekend.png" %>
    </div>
  </div>
</section>

<section class="contact" id = "contact">
  <div class="container text-center">
    <h1>Say hello</h1>
    <%= link_to t(".top_call_to_action", default: "Contact us"), "mailto:filipe@ahoy-code.com", class: "cta-btn cta-black" %>
  </div>
</section>


<% content_for(:after_js) do %>

<script>
  $(window).scroll(function(e) {
    step = ($('body').height() - $(window).height()) / 22;
    scrollStep = parseInt($(window).scrollTop() / step);
    maskPosition = (100/22) * scrollStep;
    $('#cover').css({
      'mask-position': maskPosition + '% 50%',
      '-webkit-mask-position': maskPosition + '% 50%'
    })
  });
</script>
<% end %>
