<div class="banner-portfolio">
  <div class="container">
    <h1>Portfolio</h1>
    <div class="row" style = "width: 100%;">
      <div class="col-md-4 col-sm-6 col-xs-12 port-card" id= "ruok">
        <%= link_to ruok_portfolio_index_path do %>
        <%= image_tag "ruok-card.jpg" %>
        <div class = "caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h3>RUOK</h3>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 port-card" id = "limpando">
        <%= link_to mantendoelimpando_portfolio_index_path do %>
        <%= image_tag "limpando-card.jpg" %>
        <div class = "caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h3>Mantendo e Limpando</h3>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 port-card" id = "limpando">
        <%= image_tag "luggage-card.jpg" %>
        <div class = "caption">
          <div class="blur"></div>
          <div class="caption-text">
          <div class="text-wrapper">
            <h3>Luggage2Go</h3>
            <p>Work in progress</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style = "width: 100%;">
      <div class="col-md-4 col-sm-6 col-xs-12 port-card" id= "ruok">
        <%= image_tag "bonjour-card.jpg" %>
        <div class = "caption">
          <div class="blur"></div>
          <div class="caption-text">
          <div class="text-wrapper">
            <h3>Pastelaria Bonjour</h3>
            <p>Work in progess</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 port-card" id = "limpando">
        <%= image_tag "azapark-card.jpg" %>
        <div class = "caption">
          <div class="blur"></div>
          <div class="caption-text">
          <div class="text-wrapper">
            <h3>Azapark</h3>
            <p>Work in progress</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
