<section class = "project-banner ruok-banner">
<div class="container" style = "height: 100%;">
  <div class="row" style="height: 100%">
    <div class="col-md-6 flexbox" style="height: 100%">
    <div class="project-banner-content">
      <h1>RUOK</h1>
      <h4>UX Design / UI Design / Development</h4>
      </div>
    </div>
  </div>
</div>
</section>

<section class = "project-brand padded">
<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h1>The Concept</h1>
      <p>Web tool to measure the happiness in teams by measuring the number of positive and negative words present in the answers to forms created by the team manager. It makes use of machine learning APIs and shows all the results visually. All the data analysis is automated and the answers are anonymous</p>
    </div>
  </div>
</div>
</section>


<section class="projects-full projects-full-expanded padded">
<div class="container">
<%= image_tag "ruok-full.jpg" %>
</div>
</section>

<section class = "features padded">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6 text-right">
        <h1>Features</h1>
        <p>Facebook login, Linked In login, Fully mobile responsive, Dedicated database, Machine learning API integration, Visual data display, Automatic emails, User and Manager dashboards</p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>

<section class = "project-collage padded">

    <picture>
      <%= image_tag "ruok-collage.png" %>
    </picture>

</section>



<section class = "device-grid padded" style = "background-color: #F5F5F5;">
<div class="device-list">
<div class="container">
  <div class="col-md-4"> <%= image_tag "ruok-iphone1.png" %></div>
  <div class="col-md-4"><%= image_tag "ruok-iphone2.png" %></div>
  <div class="col-md-4"><%= image_tag "ruok-iphone3.png" %></div>
</div>

</div>

</section>


